/* document */

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
  }

html {
    font-size: 100%;
  }

body {
    background-color: var(--black);
    overflow-x: hidden;
  }

ul {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --white: #ffffff;

    --purple: #8042d1;
}

/* navigation menu, the same for each page */

header nav {
    background-color: var(--purple);
  }


/* menu items */

header nav ul:first-of-type li:first-of-type {
    margin-top: 1rem;
  }

header nav ul:nth-of-type(2) li {
  margin-bottom: 1rem;
}

header nav ul:nth-of-type(2) a:hover {
    text-decoration: underline var(--white);
}

header nav ul li p {
    color: white;

    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
}

/* hamburger menu button */

header nav ul:nth-of-type(1) button {
    background: transparent;

    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;

    padding: 0 1rem 0 1rem;

    border: 1px solid var(--white);

    transition: 1s;
}

header nav ul:nth-of-type(1) button:active {
  border: 1px dashed var(--purple);
}

@media (max-width: 38em) {

  header nav {
    position: fixed;
    width: 100%;

    z-index: 1000;

    top: 0;
  }

  header nav ul:first-of-type li:first-of-type {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  header nav ul:first-of-type li:nth-of-type(2) {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  header nav ul:first-of-type {
    display: flex;
    justify-content: space-between;
    
  }

  header nav ul {
    flex-wrap: nowrap;
  }

  header nav ul:nth-of-type(2) {
    background-color: var(--purple);

    text-align: right;
    align-self: flex-end;
    
    position: fixed;

    height: 100%;
    width: auto;

    padding: 0 1rem 0 5rem;

    gap: 2rem;    
    right: 0;


    z-index: 100;

    transform: translateX(40rem);
    overflow-x: hidden;

    transition: .7s;
  }

  header nav ul:nth-of-type(2).menu {
    transform: translateX(0);
  }

  header nav ul:nth-of-type(2) li {
    text-align: right;
    margin-right: 1rem;
    margin-top: 2rem;

    width: auto;
  }
}

@media (min-width: 38em) {
  header nav ul:first-of-type li:nth-of-type(2) {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  header nav ul:first-of-type li:first-of-type {
    text-align: center;
    margin-bottom: 1rem;
  }

  header nav ul:first-of-type li:first-of-type p {
    font-size: 3rem;
  }

  header nav ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}
}

/* @media (min-width: 64em) {
  header nav ul:first-of-type li:first-of-type p {
    font-size: 4rem;
  }

  header nav ul:nth-of-type(2) {
    gap: 10rem;
  }

  header nav ul:nth-of-type(2) li p {
    font-size: 2.5rem;
  }
} */

/* picture + text, homepage */
#home main section:first-of-type {
  margin-top: 4em;
}

@media (max-width: 60em) {
#home main section:first-of-type ul {
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
}

#home main section:first-of-type ul li {
  align-self: center;
}

#home main section:first-of-type ul li:first-of-type img {
  width: 10rem;

  flex-grow: 2;

  margin-top: 2rem;
  margin-bottom: 3rem;
}

#home main section:first-of-type ul li:nth-of-type(2) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}


@media (min-width: 60em) {
  #home main section:first-of-type ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
  }

  #home main section:first-of-type ul li:first-of-type img {
    margin: 2rem 1rem 2rem 2rem;
    width: 14rem;
  }

  #home main section:first-of-type ul li:nth-of-type(2) p {
    font-size: 1.4rem;

    text-align: left;
  }
}

/* project overview */

#home main section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 4rem 2rem 4rem 2rem;

  gap: 2rem;
}

#home main section:nth-of-type(2) a ul {
  min-width: 50%;
  transition: 1s;

}

#home main section:nth-of-type(2) a ul li:first-of-type img {
  width: 100%;

  border-radius: 20px;
}

#home main section:nth-of-type(2) a ul li:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  text-align: center;

  font-family: 'Dongle', sans-serif;
}

@media (min-width: 38em) {
  #home main section:nth-of-type(2) a ul li:nth-of-type(2) {
    font-size: 1.8rem;
  }
}

@media (min-width: 60em) {
  #home main section:nth-of-type(2) a ul li:nth-of-type(2) {
    font-size: 2rem;
  }

}

/* grid display on smaller screens (making sure only
one block shows per column */

@media (max-width: 60em) {
  #home main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* making sure all the blocks are the same height on bigger screens */

@media (min-width: 60em) {
  
}

/* adding states to the different blocks */

#home main section:nth-of-type(2) a ul:hover {
  transform: scale(1.05);
}

#home main section:nth-of-type(2) a ul:active {
  transform: scale(0.95);
}

#home main section:nth-of-type(2) a:focus {
  transition: 0s; 
  padding: 1rem;
  border: 2px dashed var(--purple);
  outline: none;
}

/* contact */

footer section {
  background-color: var(--purple);
}

footer section ul {
  padding: 0;
}

footer section li p {
  color: white;
  font-family: 'Dongle', sans-serif;
}

footer section li:first-of-type {
  margin-top: 4rem;
  padding-top: 2rem;
}

footer section ul:first-of-type li p {
  font-size: 2.5rem;
  text-align: center;
}

footer section ul:nth-of-type(2) {
  margin-top: 2rem;

  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer section ul:nth-of-type(2) li:first-of-type {
  margin: 0;
  padding: 0;
}

footer section li img {
  height: 2rem;
  width: auto;
}

footer section ul:nth-of-type(3) li p {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 1rem;
}

/* dress up game page */

/* general stuff */

#dressup main section:first-of-type ul {
  padding: 0;
}

#dressup main section:first-of-type ul li {
  color: white;
  font-family: 'Dongle', sans-serif;
}

/* title */



#dressup main section:first-of-type ul:first-of-type li {
  text-align: center;
}

#dressup main section:first-of-type ul:first-of-type li h1 {
  font-size: 2.5rem;
  

  margin: 2rem 0 2rem 0;
}

/* introduction text */

#dressup main section:first-of-type ul:nth-of-type(2) li p {
  font-size: 1.4rem;

  margin: 2rem 4rem 4rem 4rem;

  text-align: center;
}

/* pictures */

#dressup main section:first-of-type ul:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 0;

  margin: 2rem;
  gap: 2rem;
}


#dressup main section:first-of-type ul:nth-of-type(3) li {
  max-width: 100%;
}

#dressup main section:first-of-type ul:nth-of-type(3) li img {
  width: 100%;

  border-radius: 20px;
}



/* media queries */

@media (max-width: 64em) {
  #dressup main section:first-of-type ul:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 72.5em) {
  #dressup main section:first-of-type ul:nth-of-type(2) {
  
}

  #dressup main section:first-of-type ul:nth-of-type(2) li:first-of-type img {
    margin: 0;
    
  }
}
